<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ja">
<head>
  <title>受講生登録</title>
</head>
<h1>受講生登録</h1>

<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="furigana">カナ名:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}">
  </div>
  <div>
    <label for="mailAddress">メールアドレス:</label>
    <input type="email" id="mailAddress" th:field="*{student.mailAddress}" required/>
  </div>
  <div>
    <label for="address">住所:</label>
    <input type="text" id="address" th:field="*{student.address}" required/>
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="gender">性別:</label>
    <select id="gender" th:field="*{student.gender}" required>
      <option value="" disabled selected>選択してください</option>
      <option value="男性">男性</option>
      <option value="女性">女性</option>
      <option value="その他">その他</option>
      </select>
    </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}">
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="course" th:for="studentsCourses.[__${stat.index}__].course">受講コース名：</label>
    <input type="text" id="course" th:id="studentsCourses.[__${stat.index}__].course"
           th:field="*{studentsCourses[__${stat.index}__].course}" required/>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</html>
